.intersection-cell {
  background-color: #d1d1d1;
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid #aaa; /* Simulates Go board lines */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  box-sizing: border-box;
}

.intersection-cell.last-row {
  background-color: #87addb;
  border: 0px;
}

.intersection-cell.last-col {
  background-color: #87addb;
  border: 0px;
}

/* The circular hoverable button */
.intersection-dot {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
  padding: 0;
  margin-left: -14px;
  margin-top: -14px;
}

.intersection-dot.empty:hover {
    background-color: rgba(110, 110, 110, 0.5);
}

.intersection-dot.white {
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  z-index: 1;
}

.intersection-dot.black {
  background-color: black;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  border: 1px solid #333;
  z-index: 1;
}

.intersection-dot.last-move {
  box-shadow: 0 0 4px 2px rgb(255, 179, 0);
}

.intersection-dot.ko {
  box-shadow: 0 0 4px 2px rgb(255, 32, 32);
}

.ko-label {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
  font-weight: bold;
  color: rgb(255, 0, 0);
  pointer-events: none;
}

.star-point {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 8px;
  height: 8px;
  background-color: #7d7d7d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
/* 
.star-point {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 8px;
  height: 8px;
  background-color: rgb(104, 104, 104);
  clip-path: polygon(
    30% 0%, 70% 0%,
    100% 30%, 100% 70%,
    70% 100%, 30% 100%,
    0% 70%, 0% 30%
  );
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
} */
